---
---

@import "minimal-mistakes";
/* Links */
a {
  color: #8b5e3c;
}

a:hover {
  color: #b87d4b;
}

/* Sidebar title */
.author__name {
  color: #5a4634;
}

/* Site title */
.site-title {
  color: #5a4634;
}

/* Buttons */
.btn {
  background-color: #c89b6d;
}

.btn:hover {
  background-color: #a97b4f;
}
